
#root {
  margin: 0;
  padding: 0;
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.link{
  text-decoration: none;
}

#discountBar{
  position: fixed;
  top: 0;
  width: 100%;
  font-size: .9rem;
  background-color: rgb(32, 32, 32);
  height: 30px;
  z-index: 1000;
}



.nav-box{
  position: fixed;
  top: 30px;
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.nav-box img{
  width: 80% !important;
}

#cart img{
  width: 25px !important;
}

.tex-white{
  color: white;
  text-decoration: none;
}

#item-container{
  position: relative;
  margin-top: 15rem;
}
.item-container h1{
  margin-bottom: 2rem;
  font-size: 3rem;
  margin-left: 6rem;
}

.icon-nav{
  margin-left: 25rem;
}

.dropdown-menu {
  --bs-dropdown-link-active-bg: rgba(255, 0, 0, 0) !important;
  --bs-dropdown-link-active-color: rgb(0, 0, 0);
  color: grey !important;
  border: none !important;
  border-radius: 0% !important;
  padding: 0 !important;
  margin: 0% !important;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.37);
}
.navbar{
  margin-left: 22rem !important;
  --bs-navbar-toggler-border-color: rgb(255, 255, 255) !important;
}
.bg-body-tertiary {
  --bs-bg-opacity: 0 !important;
  background-color: rgba(var(--bs-tertiary-bg-rgb),var(--bs-bg-opacity))!important;
}


.navbar-nav a{
  color: rgb(82, 82, 82) !important;
  font-weight: 500;
}

.navbar-nav a:hover{
  color: black !important;
}

.dropdown-menu a{
  padding-left: 10px;
  font-weight: 500;
  color: rgb(82, 82, 82);
}


#cart-number{
  position: absolute;
  font-size: 1rem;
  top: 3.3rem;
  right: 6rem !important;
}

#cart-img{
  position: absolute;
  width: 2rem !important;
  top: 2.1rem;
  right: 6.5rem;
}

#menu{
  color:rgb(32, 32, 32) ;
  font-size: 1.8rem;
}

.atomic-main-menu{
  font-size: 2rem;
}

.li-main-menu li{
  font-size: 1.3rem;
}


.search{
  margin-left: 10rem;
}

#SearchInput{
  padding: 4px 10px;
  width: 320px;
  height: 35px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: .1rem solid rgba(175, 175, 175, 0.308);
}

#SearchButton{
  background-color: rgb(32, 32, 32);
  color: white;
  height: 35px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border: none;
}

.nav-list{
  margin-left: 10rem;
}


.item-box{
  width: 20% !important;
  margin: 2% 2%;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
}

.card-p p{
  font-size: 1.2rem;
}

.item-count h2{
  font-size: 1.5rem;
}

.item-count .mas-menosn{
  font-size: .5rem;
  padding: 0 1rem;
}

.flayer-container {
  width: 100%;
  height: 500px;
}


.flayer-background {
  width: 100%;
  height: 100%;
}

.flayer-content {
  position: absolute;
  top: 120px;
}

.flayer-container-2 {
  width: 100%;
  height: 350px;
}


.flayer-background-2 {
  width: 100%;
  height: 100%;
}

.flayer-content-2 {
  margin-top: 5rem;
}

.categorias{
  margin-top: 6rem;
}

.categorias h2{
  margin: 0 0 3rem 6rem;
  font-size: 2.5rem;
}

.box-categoria h3{
  font-size: 1.3rem;
}

.box-img{
  width: 200px;
  height: 200px ;
  overflow: hidden;
}

.box-img-item{
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.box-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s;
}

.box-img img:hover{
  -webkit-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
transition: 1s ease;
}

.item-container{
  margin-top: 11rem !important;
}

.item-detail-container{
  margin: 9rem 3rem 4rem 3rem !important;
}

.item-container h1{
  margin-left: 3rem;
}

.item-detail-container h1{
  margin-left: 3rem;
}

.item-count h2{
  font-size: 2rem;
}

.item-count button{
  height: 80%;
}

/*DETAIL*/

.item-detail{
  margin-top: 15rem;
}

.card-detail{
  margin-left: 2rem;
  padding: 2rem;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.card-detail h3{
  font-size: 3rem;
}

.card-detail .price{
  font-size: 4rem;
  font-weight: 300;
  color: green;
}

.card-detail .OldPrice{
  font-size: 2rem;
  font-weight: 250;
  text-decoration: line-through;
}

.card-detail p{
  font-size: 1.1rem;
  font-weight: 300;
}

/* ITEM COUNT*/

#agregar-carrito{
  font-size: 1.2rem;
}

#end{
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

/* FOOTER */

.proveedor-box{
  margin-top: 6rem !important;
}

.proveedor-img img{
  width: 90%;
}

.proveedor-text{
  padding: 2rem 2rem 0 0 !important;
}

.proveedor-text h4{
  font-weight: 800;
}

.footer{
  margin-top: 5rem;
}

.footer a{
  text-decoration: none;
  color: white;
}

.footer h3{
  margin-bottom: 1rem;
}

.footer img{
  width: 60%;
}

.cart-view{
  margin-top: 11rem !important;
}

.borde{
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.cart{
  border: 1px solid rgba(128, 128, 128, 0.904);
  width: 70%;
}

.cart button{
  background: none;
  border: none;
  font-size: 2rem;
}

.detalle-price{
  margin-top: 4.5rem !important;
  height: 50%;
}

.claro h4{
  font-weight: 400;
  font-size: 1.3rem;
  color: rgb(63, 63, 63);
}

.margen{
  margin-top: 20%;
  margin-left: 35%;
}

.rojo{
  color: red;
}

.form{
  margin-top: 8rem;
}

.form-box{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 500px;
  height: 300px;
}

.form-box input{
  border: none;
  border-bottom: 1px solid black;
  width: 300PX;
  outline: none;
  background-color: transparent;
}

.form-box input:valid {
  background-color: white; 

}

#agregar-carrito{
  font-size: 1rem !important;
}





