#root {
  margin: 0;
  padding: 0;
}

#discountBar{
  background-color: rgb(32, 32, 32);
  height: 40px;
}

.nav-box{
  position: fixed;
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1400;
}

.tex-white{
  color: white;
  text-decoration: none;
}

#item-container{
  position: absolute;
  top: 15rem;
}
.item-container h1{
  margin-bottom: 5rem;
  font-size: 3rem;
}


.icon-nav{
  margin-left: 25rem;
}

.dropdown-menu {
  --bs-dropdown-link-active-bg: rgba(255, 0, 0, 0) !important;
  --bs-dropdown-link-active-color: rgb(0, 0, 0);
  color: grey !important;
  border: none !important;
  border-radius: 0% !important;
  padding: 0 !important;
  margin: 0% !important;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.37);
}

.navbar-nav a{
  color: rgb(82, 82, 82) !important;
  font-weight: 500;
}

.navbar-nav a:hover{
  color: black !important;
}

.dropdown-menu a{
  padding-left: 10px;
  font-weight: 500;
  color: rgb(82, 82, 82);
}

#cart-number{
  font-size: 1.8rem;
  margin-bottom: 2px;
  margin-left: 5.5rem;
}

#menu{
  color:rgb(32, 32, 32) ;
  font-size: 1.8rem;
}


.search{
  margin-left: 10rem;
}

#SearchInput{
  padding: 4px 10px;
  width: 320px;
  height: 40px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: .1rem solid rgba(175, 175, 175, 0.308);
}

#SearchButton{
  background-color: rgb(32, 32, 32);
  color: white;
  height: 40px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border: none;
}

.nav-list{
  margin-left: 10rem;
}


.item-box{
  width: 20% !important;
  margin: 2% 2%;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
}